h2{
    font-size: 14pt;
    font-weight: 500;
    line-height: 16pt;
    color: #1F2937;
    margin-top: 4pt;
    margin-bottom: 10pt;
}

h3{
    font-size: 14pt;
    font-weight: 500;
    line-height: 16pt;
    color: #1F2937;
    margin-bottom: 8pt;
}

p{
    font-size: 10pt;
    font-weight: 400;
    line-height: 16pt;
    margin-bottom: 10pt;
    color: #4B5563;
}

.range{
    font-size: 12pt;
    color: #1F2937;
    margin-bottom: 16pt;
    font-weight: 500;
}

.rangeDate{
    font-size: 10pt;
    margin-left: 8pt;
    color: #4B5563;
    font-weight: 400;
}

.chart{
    width: 100%;
    height: auto;
    padding: 18pt;
    border: 1pt solid #D0D5DC;
    background-color: #F9FAFB;
    border-radius: 10px;
    position: relative;
    margin-bottom: 16pt;
}

.chart .chartHeader{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 8pt;
    color: #4B5563;
    margin-bottom: 4pt;
}

.chart .chartHeader h3{
    flex: 1;
    margin: 0;
    font-size: 10pt;
    color: #1F2937;
}

.chart .chartHeader .alert {
     align: right;
     margin-left: 452px;
}

.chart .labels{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    left: 0;
    bottom: 6pt;
    
}

.chart .labels .label{
    padding: 4pt 16pt;
    display: flex;
    align-items: center;
    font-size: 8pt;
    color: #4B5563;
    white-space: nowrap;
}

.chart .labels .circle{
    width: 12pt;
    height: 12px;
    border-radius: 100%;
    background-color: #E6F4F7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6pt;
}

.chart .labels .circle .point{
    width: 3pt;
    height: 3px;
    border-radius: 100%;
    background-color: #0891B2;
}

.chart .labels .circle.purple{
    background-color: #ece7fe;
}
.chart .labels .circle.purple .point{
    background-color: #A78BFA;
}

.chart .labels .circle.blue{
    background-color: #E6F4F7;
}
.chart .labels .circle.blue .point{
    background-color: #0891B2;
}

.chart img{
    width: 100%;
    height: auto;
}

.incidentData {
    border-right: 1px solid #D0D5DC;
    text-align: center;
    width: 25pt;
}

.incidentAlert {
    text-align: left;
    height:32px;
    width: 87px;
}

tr {
    border-bottom: 1px solid #D0D5DC;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(even) {background-color: #FFFFFF;}

.incidentTd tr:nth-child(even){background-color: #F0F2F4;}

tr.dateDay {
    background: #F0F2F4;
}

td.total, th.total {
    text-align: right;
    white-space: nowrap;
}

.small {
    font-size: 8pt;
    color: #4B5563;
    margin-right: 3pt;
}

th.incidentId {
    text-align: left;
    width: 25px;
}

.containsData {
    margin-left: 7pt;
}

.chartContainer {
    margin-top: 10pt;
    display: flex;
}
.chartRuleOrigin:first-of-type {
    margin-right: 15px
}

.chartRuleOrigin {
    box-sizing: border-box;
    padding: 0px 15px 15px 15px;
    width: 50%;
    height: auto;
    background: #F9FAFB;
    border: 1px solid #D0D5DC;
    border-radius: 6px;
}

.chartRuleOrigin .chartHeaderOrigin h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F2937;
}

.chartRuleOriginText {
    font-size: 8px;
    line-height: 10px;
    color: #1F2937;
}

.chartRuleOriginWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.chartRuleOriginContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.chartRuleOriginImage {
    width: 30%
}

.chartRuleOriginImage img {
    width: 100%;
    height: auto
}

.chartRuleOriginContent {
    margin-left: 15px;
    width: 70%
}

.chartRuleOriginValue {
    display: flex;
    align-items: center
}

.chartRuleOriginTextContainer {
    margin-left: auto
}

.chartRuleOriginIcon {
    display: flex;
    align-items: center
}
.chartRuleOriginIcon span {
    margin-left: 12px
}

.icon img {
    width: auto;
    height: 15px;
}

.boderSeverity span {
    border: 1px solid #D0D5DC;
    padding: 6px;
    border-radius: 8px;
    width: auto;
}

.hide {
    display: none;
}